.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: right !important;
}

.message__usercard {
    background-color: #0b81ff !important;
    color: white !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}